[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sonamM
[access "refs/for/refs/*"]
	read = group user/sonamM
	push = group user/sonamM
	label-Code-Review = -2..+2 group user/sonamM
	label-Verified = -1..+1 group user/sonamM
	rebase = group user/sonamM
	removeReviewer = group user/sonamM
	submit = group user/sonamM
[access "refs/heads/*"]
	read = group user/sonamM
	create = group user/sonamM
	push = +force group user/sonamM
	pushMerge = group user/sonamM
[access "refs/tags/*"]
	push = +force group user/sonamM
	pushTag = group user/sonamM
	pushSignedTag = group user/sonamM
